<nz-tabset>
    <nz-tab nzTitle="Mục chính">
        <ng-template nz-tab>
            <app-stream-student></app-stream-student>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Giao bài tập">
        <ng-template nz-tab>
            <app-homework-student></app-homework-student>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Làm trắc nghiệm">
        <ng-template nz-tab>
            <app-do-quiz-student></app-do-quiz-student>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Thành viên">
        <ng-template nz-tab>
            <app-people></app-people>
        </ng-template>
    </nz-tab>
</nz-tabset>