<form [formGroup]="formEdit" class="shadow" id="formEdit" (submit)="submitUpdateForm()">
    <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editorUpdate" [toolbar]="toolbar" style="height: 400px;">
        </ngx-editor-menu>
        <ngx-editor [editor]="editorUpdate" formControlName="editorContent" style="height: 400px;">
        </ngx-editor>
        <div class="flex gap-2 float-right">
            <button nz-button nzType="default" class="float-right mt-2" type="button"
                (click)="handleCloseEditForm()">Hủy
                bỏ</button>
            <button nz-button nzType="primary" class="float-right mt-2" form="formEdit" type="submit">Cập nhật </button>
        </div>
    </div>
</form>