<div class="min-h-full flex justify-center items-center">
    <div class="w-full sm:w-[300px] sm:p-4 lg:w-[380px] md:w-[340px] mx-auto">
        <div class="text-center mb-5 flex flex-col justify-between items-center">
            <div class="mb-5">
                <svg width="30" height="30" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.464294" width="24" height="24" rx="4.8" fill="#1890FF" />
                    <path d="M14.8643 3.6001H20.8643V9.6001H14.8643V3.6001Z" fill="white" />
                    <path d="M10.0643 9.6001H14.8643V14.4001H10.0643V9.6001Z" fill="white" />
                    <path d="M4.06427 13.2001H11.2643V20.4001H4.06427V13.2001Z" fill="white" />
                </svg>

            </div>
            <div>
                <h2 nz-typography>Quên mật khẩu ?</h2>

            </div>
            <div>
                <span nz-typography style="color: rgba(0, 0, 0, 0.65);">
                    Nhập địa chỉ email của bạn để nhận liên kết đặt lại mật khẩu.
                </span>

            </div>
        </div>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Vui lòng nhập mail của bạn!">
                    <nz-input-group nzPrefixIcon="mail">
                        <input formControlName="email" nz-input placeholder="Email" class="w-full" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <button nz-button [nzLoading]="isLoading" nzType="primary" class="w-full">Gửi</button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <div class="text-center" style="color:rgba(0, 0, 0, 0.65);">
            <span>
                Bạn nhớ mật khẩu? <a routerLink="/login">Đăng nhập</a>

            </span>
        </div>
    </div>

</div>