<div class="min-h-full grid place-content-center">
    <div class="lg:min-w-[600px] md:min-w-[400px] sm:min-w-[300px] mb-6">
        <div class="text-center mb-5 flex flex-col justify-between items-center">
            <div class="mb-5">
                <svg width="30" height="30" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.464294" width="24" height="24" rx="4.8" fill="#1890FF" />
                    <path d="M14.8643 3.6001H20.8643V9.6001H14.8643V3.6001Z" fill="white" />
                    <path d="M10.0643 9.6001H14.8643V14.4001H10.0643V9.6001Z" fill="white" />
                    <path d="M4.06427 13.2001H11.2643V20.4001H4.06427V13.2001Z" fill="white" />
                </svg>

            </div>
            <div>
                <h2 nz-typography>Đặt lại mật khẩu</h2>

            </div>
            <div>
                <span nz-typography style="color: rgba(0, 0, 0, 0.65);">
                    Cập nhật lại mật khẩu của bạn
                </span>

            </div>
        </div>
        <form nz-form class="w-full px-4 sm:px-0" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mật khẩu</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập mật khẩu!">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate1">
                        <input nz-input [type]="passwordVisibleOld ? 'text' : 'password'" id="password"
                            formControlName="password" (ngModelChange)="updateConfirmValidator()" [disabled]="true"
                            placeholder="Nhập mật khẩu" [(ngModel)]="passwordOld" />

                    </nz-input-group>
                    <ng-template #suffixTemplate1>
                        @if (passwordOld) {
                        <span nz-icon [nzType]="passwordVisibleOld ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisibleOld = !passwordVisibleOld"></span>

                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Xác nhận mật
                    khẩu</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate2">
                        <input nz-input [disabled]="isDisableBtn" [type]="passwordVisible ? 'text' : 'password'"
                            formControlName="checkPassword" id="checkPassword" placeholder="Nhập lại mật khẩu"
                            [(ngModel)]="password" />

                    </nz-input-group>
                    <ng-template #suffixTemplate2>
                        @if (password) {
                        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"></span>

                        }
                    </ng-template>
                    <ng-template #errorTpl let-control>
                        @if (control.errors?.['required']) {
                        Vui lòng xác nhận mật khẩu của bạn!
                        }
                        @if (control.errors?.['confirm']) {
                        Hai mật khẩu bạn nhập không nhất quán
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    @if (isDisableBtn) {

                    <a routerLink="/login">Trở lại đăng nhập</a>
                    }
                    <button class="float-right" [disabled]="isDisableBtn" nz-button nzType="primary" type="submit">Xác
                        nhận</button>
                </nz-form-control>
            </nz-form-item>

        </form>
    </div>

</div>